---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Quiz from "../../components/Quiz.jsx";

export function getStaticPaths() {
  return [
    {
      params: { slug: "plussommen-tot-5" },
      props: { title: "Plussommen tot 5" },
    },
    {
      params: { slug: "plussommen-tot-10" },
      props: { title: "Plussommen tot 10" },
    },
  ];
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <h1>{title}</h1>
  <Quiz />
</BaseLayout>
