@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-background: #fff;
  --color-text: #1b0000;
  --color-secondary-text: #dcd7d1;

  --color-grey: #bcbab8;
  --color-green: #95e056;
  --color-blue: #58adff;
  --color-yellow: #ffc800;
  --color-orange: #f38b49;
  --color-red: #ff5656;
  --color-teal: #4fd9be;
  --color-purple: #9d52a8;

  --max-width: 600px;

  --font-family: ui-rounded, Nunito, sans-serif;

  --card-border-radius: 16px;
  --card-padding: 16px;
  --card-top-height: 150px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}
