@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background-color: #fff;
  --text-color: #1b0000;
  --secondary-text-color: #dcd7d1;

  --grey-color: #bcbab8;
  --green-color: #95e056;
  --blue-color: #58adff;
  --yellow-color: #ffc800;
  --orange-color: #f38b49;
  --red-color: #ff5656;
  --teal-color: #4fd9be;
  --purple-color: #9d52a8;

  --max-width: 600px;

  --font-family: ui-rounded, Nunito, sans-serif;

  --card-border-radius: 16px;
  --card-padding: 16px;
  --card-top-height: 150px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
