@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary-color: #1e40af;
  --secondary-color: #60a5fa;
  --background-color: #fff;
  --text-color: #000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Nunito", sans-serif;
}
