@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --background-color: #fff;
  --text-color: #1b0000;
  --secondary-text-color: #dcd7d1;

  --grey-color: #bcbab8;
  --green-color: #92e055;
  --blue-color: #4da0ff;
  --yellow-color: #ffc800;
  --orange-color: #f48b4a;
  --red-color: #f83f34;
  --teal-color: #318b92;

  --max-width: 600px;

  --font-family: ui-rounded, Nunito, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
