@font-face {
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Nunito-Regular.woff2") format("woff2");
  font-family: "Nunito";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Nunito-Bold.woff2") format("woff2");
  font-family: "Nunito";
}

:root {
  --font-family: ui-rounded, Nunito, sans-serif;

  --color-background: #fff;
  --color-text: #1b0000;
  --color-secondary-text: #dcd7d1;

  --color-grey: #bcbab8;
  --color-green: #95e056;
  --color-blue: #58adff;
  --color-yellow: #ffc800;
  --color-orange: #f38b49;
  --color-red: #ff5656;
  --color-teal: #4fd9be;
  --color-purple: #9d52a8;

  --max-width: 600px;

  --top-bar-height: 48px;

  --card-border-radius: 1rem;
  --card-padding: 1rem;
  --card-top-height: 150px;

  --button-size: 3rem;
}

/*
  CSS Reset adapted from:
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font: 16px/1.5 var(--font-family);
  -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin-bottom: 1.5rem;
}
