.mathQuestion {
  --equation-height: 120px;

  margin: calc(50vh - var(--equation-height) / 2) auto 0;
  width: var(--max-width);
}

.equation {
  margin: 0;
  height: var(--equation-height);
  font-weight: 700;
  font-size: calc(var(--equation-height) * 0.8);
  line-height: var(--equation-height);
  text-align: center;
}

.inputWrapper {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.icon {
  position: absolute;
  top: 50%;
  left: calc(100% + 12px);
  transform: translateY(-50%);
  animation: scaleIn 0.2s ease-out;
}

@keyframes scaleIn {
  from {
    transform: translateY(-50%) scale(0);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}

.numberInput {
  display: inline-block;
  transition: all 0.1s;
  outline: none;
  border: 4px solid #e2e8f0;
  border-radius: var(--card-border-radius);
  background-color: #fff;
  padding: 0.5rem;
  width: 3.5ch;
  color: #000;
  caret-color: var(--color-blue);
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-align: center;

  &:read-only {
    caret-color: transparent;
  }

  &.correct {
    border-color: var(--color-green);
  }

  &.incorrect {
    border-color: var(--color-red);
  }
}

.feedback {
  margin-top: 2rem;
  text-align: center;
}

.feedbackText {
  margin: 0 0 1rem;
}
