.mathQuestion {
  margin: 0 auto;
  width: var(--max-width);
  padding-top: calc(50vh - 64px - 116px / 2);
}

.equation {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.numberInput {
  width: 3.5ch;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 6px 8px;
  border-radius: 10px;
  border: 4px solid #e2e8f0;
  outline: none;
  text-align: center;
  min-height: 1em;
  transition: all 0.1s;
  background-color: #fff;
  color: #000;
  caret-color: #4f9efc;

  &.correct {
    border-color: var(--green-color);
  }

  &.incorrect {
    border-color: var(--red-color);
  }
}
