.mathQuestion {
  margin: 0 auto;
  width: var(--max-width);
  padding-top: calc(50vh - 64px - 116px / 2);
}

.equation {
  margin: 0;
  font-size: 80px;
  font-weight: 700;
  text-align: center;
}

.inputWrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.icon {
  position: absolute;
  left: calc(100% + 12px);
  top: 50%;
  transform: translateY(-50%);
  animation: scaleIn 0.2s ease-out;
}

@keyframes scaleIn {
  from {
    transform: translateY(-50%) scale(0);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}

.numberInput {
  width: 3.5ch;
  display: inline-block;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  padding: 6px 8px;
  border-radius: 10px;
  border: 4px solid #e2e8f0;
  outline: none;
  text-align: center;
  min-height: 1em;
  transition: all 0.1s;
  background-color: #fff;
  color: #000;
  caret-color: #4f9efc;

  &:read-only {
    caret-color: transparent;
  }

  &.correct {
    border-color: var(--green-color);
  }

  &.incorrect {
    border-color: var(--red-color);
  }
}

.feedback {
  text-align: center;
  margin-top: 2rem;
}

.feedbackText {
  margin: 0 0 1rem;
}
