.mathQuestion {
  --equation-font-size: 100px;
  --equation-height: calc(var(--equation-font-size) * 1.36);

  margin: calc(50vh - var(--equation-height) / 2) auto 0;
  max-width: 1000px;
}

.equation {
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: var(--equation-font-size);
  line-height: var(--equation-height);
  text-align: center;
}

.inputWrapper {
  display: inline-block;
  position: relative;
  vertical-align: baseline;
}

.numberInput {
  display: inline-block;
  transition: all 0.1s;
  outline: none;
  border: 4px solid #e2e8f0;
  border-radius: var(--card-border-radius);
  background-color: #fff;
  padding: 0.5rem;
  width: 3.5ch;
  height: calc(var(--equation-height) + 1rem);
  color: #000;
  caret-color: var(--color-blue);
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  text-align: center;

  &:read-only {
    caret-color: transparent;
  }

  &.correct {
    border-color: var(--color-green);
    background-color: color-mix(in srgb, var(--color-green) 20%, white);
  }

  &.incorrect {
    animation: shake 0.5s ease-in-out;
    border-color: var(--color-red);
    background-color: color-mix(in srgb, var(--color-red) 20%, white);
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: calc(100% + 12px);
  transform: translateY(-50%);
  animation: scaleIn 0.2s ease-out;
}

.feedback {
  font-size: 1.5rem;
  text-align: center;

  strong {
    font-size: calc(var(--equation-font-size) / 2);
  }
}

@keyframes scaleIn {
  from {
    transform: translateY(-50%) scale(0);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50% {
    transform: translateX(-0.5rem);
  }
  20%,
  40%,
  60% {
    transform: translateX(0.5rem);
  }
}
