.progressContainer {
  position: absolute;
  top: 14px;
  left: 0;
  z-index: 1;
  padding: 0 1rem;
  width: 100%;
}

.progressBar {
  position: relative;
  transition: all 0.1s;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #f1f5f9;
  width: 100%;
  max-width: 500px;
  height: 20px;
  overflow: hidden;
}

.progressFill {
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  border-radius: 10px;
  background-color: color-mix(in srgb, var(--color-blue) 80%, white);
  height: 100%;
}

.progressLabel {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1;
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #94a3b8;
  font-weight: 700;
  font-size: 14px;
}

.questionContainer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.buttonContainer {
  text-align: center;
}

.nextButton {
  display: inline-block;
  transition: all 0.1s;
  cursor: pointer;
  border: 1px solid rgba(33, 34, 38, 0.06);
  border-radius: calc(var(--button-size) / 2);
  background-color: color-mix(in srgb, var(--color-grey) 10%, white);
  padding: 0 2rem;
  height: var(--button-size);
  color: black;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;

  &:hover {
    background-color: color-mix(in srgb, var(--color-grey) 20%, white);
  }
}

.resultsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.resultsCard {
  margin: 0 auto;
  border-radius: var(--card-border-radius);
  background-color: color-mix(in srgb, var(--color-yellow) 15%, white);
  padding: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.resultsCardBody {
  margin-bottom: 1.5rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

.resultsCorrect {
  color: color-mix(in srgb, var(--color-green) 90%, black);
}

.resultsIncorrect {
  color: var(--color-red);
}

.resultsCardBottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  button,
  a {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
    cursor: pointer;
    border-radius: calc(var(--button-size) / 2);
    padding: 0;
    height: var(--button-size);
    color: inherit;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    text-decoration: none;
  }
}

.restartButton {
  border: 1px solid var(--color-yellow);
  background-color: white;
  color: var(--color-yellow);

  &:hover {
    background-color: color-mix(in srgb, var(--color-yellow) 25%, white);
  }
}

.quitButton {
  background-color: var(--color-yellow);
  color: white;

  &:hover {
    background-color: color-mix(in srgb, var(--color-yellow) 75%, white);
  }
}
