.progressContainer {
  margin-bottom: 1.5rem;
}

.progressBar {
  position: relative;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 20px;
  border-radius: 10px;
  background-color: #f1f5f9;
  overflow: hidden;
  transition: all 0.1s;
}

.progressFill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--yellow-color);
  border-radius: 10px;
  transition: width 0.3s ease;
}

.progressLabel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #94a3b8;
  mix-blend-mode: multiply;
  pointer-events: none;
  z-index: 1;
}

.buttonContainer {
  text-align: center;
}

.nextButton {
  display: inline-block;
  border-radius: 27px;
  border-width: 2px;
  border-style: solid;
  height: 54px;
  padding: 0 2rem;
  font-size: 16px;
  line-height: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.1s;
  background-color: #64748b;
  border-color: #64748b;
  color: white;

  &:hover {
    background-color: white;
    color: #64748b;
  }
}
