---
import Quiz from "../components/Quiz.tsx";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getQuizPaths } from "../routes";

export const getStaticPaths = () => {
  return getQuizPaths();
};

const { title, quiz } = Astro.props;

const pathSegments = Astro.url.pathname.split("/").filter(Boolean);
const parentPath = `/${pathSegments.slice(0, -1).join("/")}/`;
---

<BaseLayout title={title}>
  <a href={parentPath}>Terug</a>
  <Quiz {...quiz} client:only="react" />
</BaseLayout>
