---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCategoryPaths, getQuizPaths } from "../routes";

export function getStaticPaths() {
  return getCategoryPaths();
}

const { title } = Astro.props;
const { category } = Astro.params;

const quizzes = getQuizPaths(category);
---

<BaseLayout title={title}>
  <a href="/">Terug</a>
  <h1>{title}</h1>
  <ul>
    {
      quizzes.map((quiz) => (
        <li>
          <a href={`/${quiz.params.quiz}`}>{quiz.props.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
