---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCategoryPaths, getQuizPaths } from "../routes";

export function getStaticPaths() {
  return getCategoryPaths();
}

const { title } = Astro.props;
const { path } = Astro.params;

const paths = getQuizPaths();
const quizzes = paths.filter(({ params }) => {
  const pathSegments = params.path.split("/");
  return pathSegments[0] === path;
});
---

<BaseLayout title={title}>
  <a href="/">Terug</a>
  <h1>{title}</h1>
  <ul>
    {
      quizzes.map((quiz) => (
        <li>
          <a href={`/${quiz.params.path}`}>{quiz.props.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
