---
import Header from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getStaticPaths } from "./[category].astro";

const categories = getStaticPaths();
---

<style>
  main {
    margin: 0 auto 20px;
    max-width: var(--max-width);
  }

  h1 {
    margin: 0 0 1rem;
    color: var(--color-text);
    font-weight: normal;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 0;
    list-style: none;
  }

  nav a {
    display: flex;
    flex-direction: column;
    transition: background-color 0.1s;
    border-radius: var(--card-border-radius);
    background-color: #f5f5f5;
    overflow: hidden;
    text-decoration: none;

    .card-top {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
      height: var(--card-top-height);
      color: white;
      font-weight: bold;
      font-size: 3rem;
    }

    .card-body {
      padding: var(--card-padding);
      color: var(--color-text);
      font-size: 1.25rem;
    }

    &[data-category="plussommen"] {
      .card-top {
        background-color: color-mix(in srgb, var(--color-green) 70%, white);

        &::before {
          content: "+";
        }
      }

      &:hover {
        background-color: color-mix(in srgb, var(--color-green) 50%, white);
      }
    }

    &[data-category="minsommen"] {
      .card-top {
        background-color: color-mix(in srgb, var(--color-orange) 70%, white);

        &::before {
          content: "−";
        }
      }

      &:hover {
        background-color: color-mix(in srgb, var(--color-orange) 40%, white);
      }
    }

    &[data-category="tafels"] {
      .card-top {
        background-color: color-mix(in srgb, var(--color-blue) 70%, white);

        &::before {
          content: "×";
        }
      }

      &:hover {
        background-color: color-mix(in srgb, var(--color-blue) 40%, white);
      }
    }
  }
</style>

<BaseLayout>
  <Header />
  <main>
    <nav>
      <ul>
        {
          categories.map((category) => (
            <li>
              <a
                href={`/${category.params.category}`}
                data-category={category.params.category}
              >
                <div class="card-top" />
                <div class="card-body">{category.props.title}</div>
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </main>
</BaseLayout>
