---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getStaticPaths } from "./[category].astro";

const categories = getStaticPaths();
---

<style>
  header {
    margin: 20px auto;
    border-radius: 16px;
    max-width: var(--max-width);
    padding: 4rem;
    background-color: color-mix(in srgb, var(--yellow-color) 15%, white);
  }

  .logo {
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    text-transform: lowercase;

    span:nth-child(even) {
      color: var(--yellow-color);
    }
  }

  p {
    font-size: 20px;
    text-align: center;
  }

  nav {
    margin: 2rem auto;
    max-width: 600px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    li {
      a {
        display: block;
        color: var(--text-color);
        text-decoration: none;
        border-radius: 16px;
        border-bottom-width: 4px;
        border-bottom-style: solid;
        text-align: center;
        height: 54px;
        font-size: 16px;
        line-height: 54px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          filter: brightness(1.1);
        }
      }

      &:nth-child(1) a {
        background-color: var(--green-color);
        border-bottom-color: color-mix(in srgb, var(--green-color) 70%, black);

        &:hover {
          background-color: var(--green-color);
          border-bottom-color: color-mix(
            in srgb,
            var(--green-color) 85%,
            black
          );
        }
      }

      &:nth-child(2) a {
        background-color: var(--blue-color);
        border-bottom-color: color-mix(in srgb, var(--blue-color) 70%, black);

        &:hover {
          border-bottom-color: color-mix(in srgb, var(--blue-color) 85%, black);
        }
      }

      &:nth-child(3) a {
        background-color: var(--orange-color);
        border-bottom-color: color-mix(in srgb, var(--orange-color) 70%, black);

        &:hover {
          border-bottom-color: color-mix(
            in srgb,
            var(--orange-color) 85%,
            black
          );
        }
      }
    }
  }
</style>

<BaseLayout>
  <header>
    <div class="logo">
      <span>R</span><span>e</span><span>k</span><span>e</span><span>n</span>
      <span>b</span><span>ij</span>
    </div>
  </header>
  <p>Rekensommen oefenen voor groep 3 en 4</p>
  <nav>
    <ul>
      {
        categories.map((category) => (
          <li>
            <a href={`/${category.params.category}`}>{category.props.title}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</BaseLayout>
