---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getStaticPaths } from "./[path].astro";

const categories = getStaticPaths();
---

<BaseLayout>
  <h1>Rekenbij</h1>
  <ul>
    {
      categories.map((category) => (
        <li>
          <a href={`/${category.params.path}`}>{category.props.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
