---

---

<style>
  header {
    margin: 20px auto;
    border-radius: var(--card-border-radius);
    max-width: var(--max-width);
    padding: 6rem 0;
    background-color: color-mix(in srgb, var(--yellow-color) 15%, white);
    display: flex;
    justify-content: center;
  }

  .logo {
    font-size: 96px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    color: var(--text-color);

    span:nth-child(even) {
      color: var(--yellow-color);
    }
  }
</style>

<header>
  <a href="/" class="logo">
    <span>R</span><span>e</span><span>k</span><span>e</span><span>n</span><span
      >b</span
    ><span>ij</span>
  </a>
</header>
