---
const baseUrl = import.meta.env.BASE_URL;
---

<style>
  header {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    border-radius: var(--card-border-radius);
    background-color: color-mix(in srgb, var(--color-yellow) 15%, white);
    padding: 6rem 0;
    max-width: var(--max-width);
  }

  .logo {
    color: var(--color-text);
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;

    span:nth-child(even) {
      color: var(--color-yellow);
    }
  }
</style>

<header>
  <a href={baseUrl} class="logo">
    <span>R</span><span>e</span><span>k</span><span>e</span><span>n</span><span
      >b</span
    ><span>ij</span>
  </a>
</header>
